html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(canada-ontario-best-campgrounds-pancake-bay-provincial-park.jpg) ;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 150px;

}

h1 {
    color:rgb(52, 92, 145);
    padding-bottom: 25px;
    padding-top: 25px;
   
}

p {
    padding-bottom: 20px;

}

h2 {
    font-weight: bolder;
    font-size: 5rem;
    color:rgb(255, 255, 255);
    background-color: #29193046;
    padding: 5px 5px;
    
}

.button {
    background-color:rgb(224, 218, 193);
    border: 3px solid #cea79146;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: rgb(43, 77, 74);
    font-weight: bold;
    margin-top: 90px; 
  }

  * {
    box-sizing: border-box;
  }